
h1 {
    font-size: 20px;
    color: palevioletred;  
}

#container {
    margin-inline: auto;
    width: fit-content;
}

#cardthree{
    align-items: center;
}


#faithpic {
     display: flex;
     width: 50vh;
    
}

#workoutpic {
    display: flex;
     width: 50vh;
}

#freedompic {
    display: flex;
    width: 50vh;
}
